<section id="portfolio">
    <div class="container">
        <div class="section-header">
            <h2>Our Portfolio</h2>
            <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet
               veniam enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute
               nulla ipsum velit export irure minim illum fore</p>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row no-gutters">

            <div class="col-lg-3 col-md-4">
                <div class="portfolio-item">
                    <a href="img/portfolio/1.jpg" class="portfolio-popup">
                        <img src="{{ asset('img/portfolio/1.jpg') }}" alt="">
                        <div class="portfolio-overlay">
                            <div class="portfolio-info"><h2>Portfolio Item 1</h2></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="portfolio-item">
                    <a href="img/portfolio/2.jpg" class="portfolio-popup">
                        <img src="{{ asset('img/portfolio/2.jpg') }}" alt="">
                        <div class="portfolio-overlay">
                            <div class="portfolio-info"><h2>Portfolio Item 2</h2></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="portfolio-item">
                    <a href="img/portfolio/3.jpg" class="portfolio-popup">
                        <img src="{{ asset('img/portfolio/3.jpg') }}" alt="">
                        <div class="portfolio-overlay">
                            <div class="portfolio-info"><h2>Portfolio Item 3</h2></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="portfolio-item">
                    <a href="img/portfolio/4.jpg" class="portfolio-popup">
                        <img src="{{ asset('img/portfolio/4.jpg') }}" alt="">
                        <div class="portfolio-overlay">
                            <div class="portfolio-info"><h2>Portfolio Item 4</h2></div>
                        </div>
                    </a>
                </div>
            </div>

        </div>

    </div>
</section>