{% extends 'base.html.twig' %}

{% block title %}Home{% endblock title %}

{% block body %}
    <main id="main">
        {% include 'app/index/sections/about.html.twig' %}
        {% include 'app/index/sections/services.html.twig' %}
        {% include 'app/index/sections/products.html.twig' %}
        {% include 'app/index/sections/call-to-action.html.twig' %}
        {% include 'app/index/sections/contact.html.twig' %}
    </main>
{% endblock body %}
